<html lang="{{lang}}">
<head>

    <title>Test Theme</title>
    <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}">
    {{ghost_head}}
</head>
<body>
    {{page_url 'lol'}}
    {{@config.posts_per_page}}

    {{primary_author.image}}

    {{#get "posts" include=' author,tags' filter='author:{{author.slug}}+id:-{{id}}' fields="author"}}
        {{#foreach posts}}
            {{author}}
            {{title}}
        {{/foreach}}
    {{/get}}

    {{!-- invalid usage of author property. Will not be detected. --}}
    {{author_profile_image}}

    {{#if error}}
        {{error.code}}
    {{/if}}

    {{#each}}
</body>
    {{ghost_foot}}
</html>
