<section class="report">
    <header>
        <h2 class="report-heading">
            <span class="score {{results.score.level}}">{{results.score.value}} / 100</span>
            {{#if name}}
                <span class="title">{{name}} {{version}}</span>
            {{/if}}
        </h2>
    </header>

    <div class="report-body">
        <div class="results report-section">
            {{#if results.error}}
                <section class="level-group">
                    <header class="level-group-header">
                        <h3 class="level"><span class="indicator error"></span>Must fix:</h3>
                    </header>
                    <div class="rule-group">
                        {{#each results.error}}
                            {{> rule-fail}}
                        {{/each}}
                    </div>
                </section>
            {{/if}}

            {{#if results.warning}}
                <section class="level-group">
                    <header class="result-group-header">
                        <h3 class="level"><span class="indicator warning"></span>Should fix:</h3>
                    </header>
                    <div class="rule-group">
                        {{#each results.warning}}
                            {{> rule-fail}}
                        {{/each}}
                    </div>
                </section>
            {{/if}}

            {{#if results.recommendation}}
                <section class="level-group">
                    <header class="result-group-header">
                        <h3 class="level"><span class="indicator recommendation"></span>Consider fixing:</h3>
                    </header>
                    <div class="rule-group">
                        {{#each results.recommendation}}
                            {{> rule-fail}}
                        {{/each}}
                    </div>
                </section>
            {{/if}}

            {{#if results.pass}}
                <section class="level-group">
                    <header class="result-group-header">
                        <h3 class="level"><span class="indicator passing"></span>{{results.pass.length}} Passed Rules</h3>
                    </header>
                    {{> toggle}}
                    <div class="rule-group details hide">
                        {{#each results.pass}}
                            {{> rule-pass}}
                        {{/each}}
                    </div>
                </section>
            {{/if}}
        </div>
    </div>

    <aside class="pull-right"><a href="/">Start Over</a></aside>

</section>
