<html>
<head>

    <meta name="description" content="{{meta_description}}">
    <title>Test Theme</title>
    <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}">
    {{ghost_head}}
</head>
<body>
    {{pageUrl 'lol'}}
    {{@blog.posts_per_page}}

    {{author.image}}

    {{cover}}

    {{!-- invalid usage of author property. Will not be detected. --}}
    {{author_image}}
</body>
    {{ghost_foot}}
</html>
