{{content words="0"}}

{{#post}}
    {{meta_description}}
    {{image}}

    {{#if author}}{{/if}}
    {{#if author.email}}{{/if}}
    
    {{img_url author.profile_image}}

    {{#../author}}{{/../author}}
    {{#if ../primary_author}}{{/if}}
    {{../authors.[2]}}
    {{../authors.[0].name}}

    {{!-- Usage should not be invalid --}}
    {{#has author="count:>1"}}
    {{/has}} 
    
    {{#foreach authors}}
        <li>
            <a href="{{url}}" title="{{name}}" class="author author-{{id}} {{slug}}">{{name}}</a>
        </li>  
    {{/foreach}}
{{/post}}

{{#if post.author}}{{/if}}
{{#if post.authors.[0].name}}{{/if}}

{{> author}}

{{!-- author attributes --}}
{{author.id}}
{{author.slug}}
{{author.email}}
{{author.meta_title}}
{{author.meta_description}}
{{author.name}}
{{author.bio}}
{{author.location}}
{{author.website}}
{{primary_author.twitter}}
{{primary_author.facebook}}
{{primary_author.profile_image}}
{{primary_author.cover_image}}
{{primary_author.url}}

{{post.author}}
{{post.author.id}}
{{post.author.slug}}
{{post.author.email}}
{{post.author.meta_title}}
{{post.author.meta_description}}
{{post.author.name}}
{{post.author.bio}}
{{post.author.location}}
{{post.primary_author.website}}
{{post.primary_author.twitter}}
{{post.primary_author.facebook}}
{{post.primary_author.profile_image}}
{{post.primary_author.cover_image}}
{{post.primary_author.url}}