<article class="rule fail">
    <h4>{{{rule}}}</h4>
    {{> toggle}}

    <div class="details hide">
        {{#if message}}
            <p>{{message}}</p>
        {{/if}}

        {{#if failures}}
            <dl>
                {{#each failures}}
                    <dt>{{ref}}</dt>
                    {{#if message}}<dd>{{message}}</dd>{{/if}}
                {{/each}}
            </dl>
        {{/if}}

        {{#if details}}
            {{{details}}}
        {{else}}
            <p>There is no info for this rule yet.</p>
        {{/if}}
    </div>
</article>